{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

<main class="CGUMain">
    <section>
        <h1>Conditions générales d’utilisation </h1>
         
        <h2>Informations légales</h2>
        <p>
            Le site internet WWW.Ters-Lieu.fr, ca après dénommé « Tiers-Lieu propose un service de coworking. L’accés au site, sa consultation et son utilisation sont subordonnées à l’acceptation sans réserve des présentes Conditions Générales d’utilisation.
            Acceptation
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui veniam, velit maxime unde magni aliquid fugit dolore architecto blanditiis provident ipsam quam est nam dolores, rerum rem error. Velit, exercitationem?
            Enim odio harum ipsa a, fugit consectetur? At nam velit cupiditate. Necessitatibus facilis libero earum iure unde doloribus! Iure temporibus est eos dolorem voluptatum et fugiat vero nemo sed inventore.
            Temporibus quam accusamus cum cumque at! Earum fuga ratione quibusdam est! Odit aliquam dolore, obcaecati voluptatum repellat ut error, iusto enim delectus qui quasi illo, facere laudantium nam nostrum dolor!
            A dolore amet distinctio culpa possimus iste molestias magni nam alias impedit accusamus eius labore accusantium, aut sapiente architecto! Voluptas voluptate assumenda cum illo ut, repudiandae sit eligendi et! Esse.
        </p>
        <h2>Dolore perspiciatis</h2> 
        <p>
          velit magni voluptatum blanditiis. Sed facilis, corporis, nulla ipsum natus reprehenderit doloremque doloribus impedit veritatis quaerat magnam cumque et neque placeat sunt eligendi amet dicta blanditiis qui ullam.
          Dolor enim amet laborum libero veritatis explicabo placeat distinctio nemo exercitationem. Sint adipisci consequuntur voluptas ex modi odio earum eos, ipsa ut ipsum aperiam perferendis! Inventore quisquam voluptates corrupti magnam?
          Ex quidem asperiores qui beatae, veritatis neque eos, minus tenetur autem quis odit voluptatum id ipsam sed nemo consequuntur non numquam amet quo dignissimos provident libero alias corrupti nam. Ipsam.
          Voluptate accusamus vitae officiis facilis illum recusandae corporis suscipit quibusdam repellendus nulla dignissimos minima qui possimus repellat quo commodi, ullam eligendi consectetur nihil magni autem dolor id debitis. Id, sed.
          Quia tenetur quae voluptatum officiis doloremque, consectetur sapiente veniam harum ullam ipsam quo in neque, a voluptate nulla voluptatem quibusdam cum delectus. Dolorum cupiditate sed eius suscipit nesciunt, voluptas quod.
          Ad porro dolore a nihil, voluptate sed ducimus amet culpa, nobis, deserunt facere quis eaque facilis veniam expedita ipsa quisquam! Nostrum itaque beatae voluptates fugiat ex veniam alias ut at.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam iste eos dolores sapiente quae, labore perspiciatis veniam ab, accusantium nesciunt esse ut explicabo deleniti voluptatum delectus ipsa laboriosam ex aliquid illo soluta eius debitis unde pariatur! Doloribus, sint quaerat aut voluptates totam debitis distinctio tempora, sit ipsum tempore temporibus.
        </p>
        <h2>Numquam magnam </h2>
        <p>
            necessitatibus consectetur tempore, sapiente corporis beatae nemo dolore animi eius non impedit qui recusandae totam ratione aut autem explicabo voluptates. Enim beatae facilis repellendus perspiciatis. Repudiandae, eius Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores tempora consequuntur cumque repellat rerum recusandae ipsa at rem sapiente voluptates, iste ad quibusdam voluptatibus a illum error eligendi quisquam consectetur fugit. Velit neque soluta rem explicabo, ducimus totam qui error commodi sunt eum quam! Libero amet fuga recusandae nobis Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, magni ducimus inventore amet molestias sequi! Maiores officiis nisi labore, obcaecati consectetur dignissimos soluta ab voluptatibus magni quis, earum voluptates inventore?
            Ut qui, explicabo maiores veritatis suscipit fuga dolorum animi, eaque tempora voluptas esse quis iste nesciunt perspiciatis cupiditate consequatur ad velit! Quaerat, facilis. Sint repellendus corporis quod eaque Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo magni quas aperiam fugit? Dolore quas laboriosam vero consequatur cumque, rerum ipsam eaque dolorem voluptas voluptates aperiam animi deserunt illo recusandae?
            Ipsa nulla cum illo recusandae aut numquam ullam nihil? Consequuntur, praesentium rerum quidem et ab repudiandae a esse facilis corporis facere vero incidunt deserunt repellat magni perspiciatis labore impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum necessitatibus temporibus aliquid voluptatibus quos porro adipisci, quibusdam, placeat alias quae a sint recusandae atque beatae nisi illo tenetur ex?
            Quibusdam facilis facere eveniet debitis possimus voluptas magnam illo repellat error, dignissimos velit quis pariatur. Totam, deserunt modi quasi, ab at unde hic numquam eaque omnis labore necessitatibus, consectetur voluptas.
            Consequatur praesentium molestias dolorum obcaecati quasi nam iusto facere veniam, neque pariatur quidem quas eaque, incidunt alias velit aut maiores saepe non dicta itaque, dolores veritatis minima quo. Ipsam, sapiente?
            Necessitatibus dicta laboriosam voluptate dolorem fugit eum, nobis, impedit mollitia porro molestias, dolore nihil. Amet, quisquam laboriosam. Non, itaque officiis consectetur, at autem quas rerum minima suscipit, fugiat laudantium deserunt!
            Animi iste dolore porro aliquam enim inventore earum, commodi in dolorum cum expedita, quaerat ea voluptatibus ullam nesciunt ipsa. 
        </p>
            <h2>Aliquam omnis</h2>
        <p>
            Aliquam omnis dolorum corrupti illo ad maiores cum a in Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit adipisci, aliquam veritatis ipsam magni excepturi laborum perspiciatis fuga dignissimos consequuntur sapiente tempore, cupiditate veniam? Non doloribus enim accusantium asperiores repudiandae!
            Velit qui voluptas numquam et asperiores, officia facilis molestias architecto earum adipisci harum aut fuga tempore fugiat quod recusandae autem laudantium hic quas nulla saepe. Asperiores delectus perspiciatis dicta culpa!
            Architecto odit id nemo autem quasi distinctio excepturi ab libero? Nesciunt inventore facere laudantium tenetur possimus aut aperiam. Animi iusto nostrum beatae officiis blanditiis tempore consequatur, voluptatibus consequuntur explicabo deleniti!
            Itaque vero sit quos quod dolor aut temporibus debitis, sint exercitationem magnam nihil delectus nisi similique earum. Eligendi eos, debitis ea cumque magni est impedit, quibusdam quasi minima exercitationem autem.
            Nesciunt ducimus ut doloremque eveniet alias dignissimos quam voluptates dolore repudiandae asperiores. Esse vitae, quod velit, laboriosam fugiat, similique modi harum rem maxime quia iure numquam voluptate repellat in? Inventore.
        </p>
    
    </section>
</main>

{% endblock %}