{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<main class="mentionsMain">
    <section class="mentions">
        <h1 class="title_2">Mentions Légales</h1>
        <div class="content">
            <h2>La Croustille</h2>
            <h3>Directeur de la publication</h3>
            <p>Carl Pennequin - Yvrac 33370</p>
            <h3>Hebergeur</h3>
            <p>...</p>
            <P>
                En application de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, 
                aux fichiers et aux libertés, chaque internaute dispose des droits d'opposition 
                (article 38 de la loi), d'accès (articles 39, 41 et 42 de la loi) et de rectification 
                (article 40 de la loi) des données le concernant. Ainsi, il peut exiger que soient rectifiées, 
                complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, 
                incomplètes, équivoques, périmées, ou dont la collecte ou l'utilisation, la communication ou la conservation est interdite. 
                Chaque internaute peut exercer ces droits en écrivant à : La Croustille - Yvrac 33370
            </P>
        
        </div>
    </section>
</main>

{% endblock %}