.homepage{
    font-family: 'PopL', sans-serif;
    .sectionRecipe{
        background: $white;
        margin: 100px auto 30px auto;
        max-width: 1366px;
        border-radius: 25px;
        h1{
            font-family: 'Parisienne', sans-serif;
            @include flex(center, center);
            padding: 50px 0;
            font-size: 44px;
            font-weight: 600;
            color: $gray;
        }
        .bigBoxRecipe{
            @include flex(space-around, center, row, wrap);
            article{
                @include flex(center, center, column);
                margin: 50px 50px;
                h2{
                    font-family: 'Parisienne', sans-serif;
                    padding: 100px 0;
                    font-size: 38px;
                    font-weight: 600;
                    color: $gray;
                }
                & > div{
                    width: 418px;
                    height: 610px;
                    background: $secondaryColor;
                    border-radius: 8px;
                    overflow: hidden;
                    @include flex(space-between, center, column);
                    transition: 0.2s all;
                    position: relative;
                    &:hover{
                        transform: scale(1.02);
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 191px;
                        z-index: 3;
                        background: $grayLight;
                    }
                    .img{
                        width: 100%;
                        height: 85%;
                        position: relative;
                        img{
                            position: absolute;
                            height: 85%;
                        }
                    }
                    .like{
                        position: absolute;
                        top: calc(70% - 10px);
                        left: 50%;
                        z-index: 5;
                        transform: translate(-50%, -50%);
                        background: $white;
                        padding: 15px;
                        border-radius: 50%;
                        border: 12px solid $secondaryColor;
                        svg{
                            width: 68px;
                            height: 68px;
                            path{
                                transition: 0.3s all;
                                cursor: pointer;
                                z-index: 6;
                                &:hover{
                                    transform: scale(1.04) translateX(-23%);
                                    
                                }
                            }
                        }
                    }
                    a{
                        z-index: 10;
                        margin-bottom: 50px;
                        padding: 15px 40px;
                        color: $primaryColor;
                        border: 1px solid $primaryColor;
                        border-radius: 50px;
                        transition: 0.2s all;
                        font-size: 24px;
                        &:hover{
                            color: $white;
                            font-weight: bold;
                            background-color: $primaryColor;
                        }
                    }
                }
            }
            
        }
        span{
            @include flex(center,center);
            padding: 50px;
            font-size: 35px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 70%;
                transform: translate(-50%, -50%);
                left: calc(50% - 65px);
                background: $secondaryColor;
                width: 200px;
                height: 4px;
                border-radius: 20px;
            }
        }
    }




    .contactUs{
        @include flex(space-between, center);
        margin-top: 125px;
        .imgBg{
            img{
                width: 105%;
            }
        }
        .rightContactUs{
            width: 100%;
            @include flex(center, center, column);
            margin-right: 50px;
            h2 , a{
                margin: 65px 0;
            }
            h2{
                font-family: 'Parisienne', sans-serif;
                font-size: 80px;
                color: $gray;
                text-align: center;
            }
            a{
                padding: 20px 50px;
                color: $primaryColor;
                border: 1px solid $primaryColor;
                border-radius: 50px;
                transition: 0.2s all;
                font-size: 40px;
                &:hover{
                    color: $white;
                    font-weight: bold;
                    background-color: $primaryColor;
                }
            }
        }

    }
    .logoSocial{
        margin: 125px 0; 
        @include flex(center, center, column);
        .joinUs{
            @include flex(center, center);
            font-size: 80px;
            color: $gray;
            text-align: center;
        }
        .logo{
            width: 90px;
            margin: 0 30px;
        }
        .logoImg{
            width: 100%;
            margin: 35px 0;
            padding: 85px 0;
            @include flex(center, center);
            border-top: 1px solid $secondaryColor;
            border-bottom: 1px solid $secondaryColor;
        }
    }
}

@media screen and (max-width: 1370px) {
    .homepage{
        .sectionRecipe{
            width: 100%;
            margin: 0;
            border-radius: 0px;
            h1{
                padding: 100px 0 0;
            }
        }


        .contactUs{
            margin-top: 80px;
            .imgBg{
                img{
                    width: 85%;
                }
            }
            .rightContactUs{
                h2 , a{
                    margin: 45px 0;
                }
                h2{
                    font-size: 55px;
                }
                a{
                    padding: 15px 45px;
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .homepage{
        background: $white;
        .contactUs{
            margin-top: 80px;
            @include flex(center, center, column);
            overflow: hidden;
            .imgBg{
                width: 100vw;
                img{
                    width: 100%;
                }
            }
            .rightContactUs{
                margin: 0;
                h2 , a{
                    margin: 30px 0;
                }
                h2{
                    font-size: 55px;
                }
                a{
                    padding: 15px 45px;
                    font-size: 32px;
                }
            }
        }
        .logoSocial{
            margin: 50px 0; 
            overflow: hidden;
            .joinUs{
                font-size: 50px;
            }
            .logo{
                width: 60px;
            }
        }
    }
}