.recipes{
    font-family: 'PopL', sans-serif;
    section{
        background: $white;
        margin: 100px auto 30px auto;
        max-width: 1366px;
        border-radius: 25px;
        h1{
            font-family: 'Parisienne', sans-serif;
            @include flex(center, center);
            padding: 50px 0;
            font-size: 44px;
            font-weight: 600;
            color: $gray;
        }
        .bigBoxRecipe{
            @include flex(space-around, center, row, wrap);
            article{
                @include flex(center, center, column);
                margin: 50px 50px;
                h2{
                    font-family: 'Parisienne', sans-serif;
                    padding: 30px 0;
                    font-size: 38px;
                    font-weight: 600;
                    color: $gray;
                }
                & > div{
                    width: 418px;
                    height: 610px;
                    background: $secondaryColor;
                    border-radius: 8px;
                    overflow: hidden;
                    @include flex(space-between, center, column);
                    transition: 0.2s all;
                    position: relative;
                    &:hover{
                        transform: scale(1.02);
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 191px;
                        z-index: 3;
                        background: $grayLight;
                    }
                    .img{
                        width: 100%;
                        height: 85%;
                        position: relative;
                        img{
                            position: absolute;
                            height: 85%;
                        }
                    }
                    .like{
                        position: absolute;
                        top: calc(70% - 10px);
                        left: 50%;
                        z-index: 5;
                        transform: translate(-50%, -50%);
                        background: $white;
                        padding: 15px;
                        border-radius: 50%;
                        border: 12px solid $secondaryColor;
                        svg{
                            width: 68px;
                            height: 68px;
                            path{
                                transition: 0.3s all;
                                cursor: pointer;
                                z-index: 6;
                                &:hover{
                                    transform: scale(1.04) translateX(-23%);
                                    
                                }
                            }
                        }
                    }
                    a{
                        z-index: 10;
                        margin-bottom: 50px;
                        padding: 15px 40px;
                        color: $primaryColor;
                        border: 1px solid $primaryColor;
                        border-radius: 50px;
                        transition: 0.2s all;
                        font-size: 24px;
                        &:hover{
                            color: $white;
                            font-weight: bold;
                            background-color: $primaryColor;
                        }
                    }
                }
            }
            
        }
        span{
            @include flex(center,center);
            padding: 50px;
            font-size: 35px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 70%;
                transform: translate(-50%, -50%);
                left: calc(50% - 65px);
                background: $secondaryColor;
                width: 200px;
                height: 4px;
                border-radius: 20px;
            }
        }
    }
    .pagination{
        @include flex(center, center);
        margin-bottom: 70px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 200px;
            height: 4px;
            background: $secondaryColor;
            transform: translateX(-50%)
        }
        span{
            @include flex(center, center);
            font-size: 30px;
            margin: 15px;
            transition: 0.2s all;
            color: $gray;
            &:hover{
                transform: scale(1.20);
            }
        }
        .current{
            font-size: 35px;
            color: $secondaryColor;
            transform: none !important;
        }
    }
}

@media screen and (max-width: 1370px) {
    .recipes{
        section{
            width: 100%;
            margin: 0;
            border-radius: 0px;
            h1{
                padding: 100px 0 0;
            }
        }
    }
}